.App {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  all: unset;
  border: none;
  cursor: pointer;
}

.task-box {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 12px;
}

.task-container {
  border: 2px solid #5992ff;
  border-radius: 8px;
  background-color: #bfd5ff;
  margin: 4px;
}

.action-box {
  padding: 16px;
  background-color: #f0f5ff;
  border-radius: 4px;
}

.styled-input {
  height: 100%;
  border: none;
  padding: 0 4px;
  border-radius: 4px;
}

.disabled {
  background-color: rgb(208, 208, 208);
  cursor: not-allowed;
}
