.App {
  padding: 100px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  all: unset;
  border: none;
  cursor: pointer;
}

.task-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 8px;
  border: 2px solid #5992ff;
  border-radius: 8px;
  background-color: #bfd5ff;
}

.action-box {
  padding: 16px;
  background-color: #f0f5ff;
  border-radius: 4px;
}

.styled-input {
  height: 100%;
  border: none;
  padding: 0 10px;
  border-radius: 4px;
}
